@font-face {
  font-family: "Mont"; /* The name you want to give to your font */
  src: url("../src/assets/fonts/Mont-Regular.woff") format("woff"); /* Path to your font file */
}
@font-face {
  font-family: "Mont Heavy"; /* The name you want to give to your font */
  src: url("../src/assets/fonts/Mont\ Heavy.woff") format("woff"); /* Path to your font file */
}
@font-face {
  font-family: "Mont-Bold"; /* The name you want to give to your font */
  src: url("../src/assets/fonts/Mont-Bold\ \(1\).woff") format("woff"); /* Path to your font file */
}
